body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.container{
  height: 65vh;
  weight: 50vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button{
  height: 5vh;
  width: 5vw;
  background-color: aquamarine;
  color: black;
  border: 2px solid black;
}

.button-container{
  display: flex;
  gap: 4;
  justify-content: center;
}

label{
  display: flex;
  justify-content: center;

}